

/* 
Syntax:
h1{
     color:rgb(5,5,5);
}
------------------------
{*all | .class | #ID | element} | selector ex:h1
------------------------
Color:
RGB(255,255,255) | RGBA(255,255,255,0.5) | #ffffff
------------------------

*/




p{
    color:rgb(56, 30, 30);
}